@CHARSET "UTF-8";
html, body{
	height: 100%;
}

.container{
	padding-top: 60px;
}

h3{
    padding-left:5px;
}

h2 {
	text-align: center;
}

.center {
	float: none;
	margin: 0 auto;
}

.editing .edit-controls{
	display: block;
}

.editing .view{
	display: none;
}

.view label{
	font-weight: normal;
	word-break: normal;
}

.edit-controls{
	display:none;
}

.item{
	height:480px;
	width:1200px;
	background-color:#222222;
}

.undo-button{
	display: none;
}

.undoable .undo-button{
	display: block;
}

.history_view {
	padding: 5px;
}

.timeline dl dd .events{
	border-color: grey;
}

.timeline dl .pos-left .events::before{
	border-color: transparent transparent transparent grey;
}

.timeline dl .pos-right .events::before{
	border-color: transparent transparent transparent grey;
}
