.DS_Store
notifications/NotificationServices/*.pyc
.couchapprc
bower_components
*.pyc
node_modules
templates.js
notifications/~notifications.out
ui/_attachments/libs
ui/_attachments/typings/*
notifications/appengine.conf
.vscode/*
tsd.json
jsconfig.json
