language : python
python:
    - "2.7"
services:
    - "couchdb"

install:
    - pip install couchdbkit couchapp pep8 mock python-dateutil==1.5 apscheduler
    - curl -X PUT http://localhost:5984/config
    - couchapp push database/ http://localhost:5984/config

env:
    global:
        - ENV_TESTS="1"

before_script:
    "pep8 --ignore=E501 process_config notifications tests pox generate_history.py break_dns.py"

script:
    python -m unittest discover -v

notifications:
    email: false
