language : python
python:
    - "2.7"
services:
    - "couchdb"

install:
    - pip install couchdbkit couchapp pep8
    - curl -X PUT http://localhost:5984/config
    - couchapp push database/ http://localhost:5984/config
    - curl http://localhost:5984/config/_design/homework-remote/_views/dhcp

env:
    - APP_ENGINE_ROUTER_ID="f543593ad5fff705ea7ecaf7c47b9ab4edc91851"


before_script:
    "pep8 --ignore=E501 process_config notifications"

script:
    python -m unittest discover -v
