language : python
python:
    - "2.7"
services:
    - "couchdb"

before_script:
    - curl -X PUT localhost:5984/config
    - couchapp push database/ http://localhost:5984/config
    - curl localhost:5984/config/_design/homework-remote/_views/dhcp

install:
    pip install couchdbkit couchapp

script:
    python -m unittest discover -v
