<div class="history_view timeline">
    <div class="row">
        <form id="revert_datepicker_form" class="form-inline" action="index.html/#/history" accept-charset="utf-8">
            <div class="form-group">
                <label for="datepicker">Date to revert to:</label>
                <input type="text" name="datepicker" id="datepicker"/>
            </div>
            <button type="submit" class="btn btn-primary">Revert</button>
        </form>
    </div>
    <div class="row">
        <dl></dl>
    </div>
</div>
