<div class="circ"></div>
<div class="time"><%- month %> <%- day %> <%- year %> <%- hour %>:<%- minute %>:<%- second %></div>
<div class="events">
    <div class="events-body">
        <h4 class="events-heading"><%- title %></h4>
        <p><%-description %></p>
        <div>
            <button class="btn btn-primary undo-button pull-left" type="button">Undo This Change</button>
            <button class="btn btn-info revert-button pull-right" type="button">Undo This Change, and all subsequent changes</button>
        </div>
    </div>
</div>
