<div class="jump_date">
    <h3>Revert to previous date</h3>
    <div class="input-group date">
        <input type="text" name="history_dp" id="history_dp" class="form-control">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    
    <button type="button" class="btn btn-primary revert-button" type="button">Revert</button>
    <div id="picker_container"></div>
</div>

<div class="history_view timeline">
    <dl></dl>
</div>
