<p>This is an overview of your network configuration</p>
<table class="table table-bordered table-striped">
    <thead>
        <th>Configuration Item</th>
        <th>Value</th>
    </thead>
    <tbody>
        <tr>
            <td>Network Name (SSID)</td>
            <td><%- ssid %></td>
        </tr>
        <tr>
            <td>Security Type</td>
            <td><%- encryption_type %></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><%- password %></td>
        </tr>
        <tr>
            <td>Mode</td>
            <td><%- mode %></td>
        </tr>
        <tr>
            <td>Channel</td>
            <td><%- channel %></td>
        </tr>
    </tbody>
</table>
