<div class="row">
    <div class="col-md-6">
      <a id="home-wifi-link" href="index.html/#/wifi">
        <h2>Wi-Fi Configuration</h2>
        <div id="home-wifi-config"></div>
      </a>
    </div>
    <div class="col-md-6">
      <a id="home-devices-link" href="index.html/#/control">
        <h2>Connected Devices</h2>
        <div id="home-devices"></div>
      </a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <a href="index.html/#/notifications">
            <h2>Notifications</h2>
            <div id="home-notifications">
                
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="index.html/#/history">
            <div id="home-history">
                
            </div>
        </a>
    </div>
</div>