<table class="table table-bordered table-striped">
 <thead>
  <tr>
   <th>Name</th>
   <th>Service</th>
  </tr>
 </thead>
 <tbody>
     <tr>
      <td><%- name %></td>
      <td><%- service %></td>
     </tr>
 </tbody>
</table>
<form id="set-main-user" action="">
    <label for="main-name">main-name</label>
    <input type="text" name="main-name" id="main-name" placeholder="Name" />
    <label for="main-service" class="sr-only">Service</label>
    <select name="main-service" id="main-service">
        <option value="email">Email</option>
        <option value="growl">Growl</option>
        <option value="phone">Text Message</option>
        <option value="twitter">Twitter</option>
    </select>
    <button type="button" class="btn btn-primary" id="set-main-user-button">Set</button>
</form>
