<h2>Notification - Service mappings</h2>
<table class="table table-bordered table-striped" id="notification-registration-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Service</th>
            <th>User</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<form id="add-notification-form" action="#/notifications">
    <label for="name" class="sr-only">Name</label>
    <input type="text" name="name" value="" id="name" placeholder="Name"/>
    <label for="service" class="sr-only">Service</label>
    <select name="service" id="service">
        <option value="email" data-prompt="Email Address">Email</option>
        <option value="growl" data-prompt="Device IP Address">Growl</option>
        <option value="phone" data-prompt="Phone Number">Text Message</option>
        <option value="twitter" data-prompt="Twitter Username">Twitter</option>
    </select>
    <label for="user" class="sr-only">User</label>
    <input type="text" name="user" value="" id="user"/>
    <button class="btn btn-primary" id="add-notification-button" type="submit">Add</button>
</form>
