<td><%- name %></td>
<td><%- service %></td>
<td>
    <div class="view">
        <label><%- user %></label>
    </div>
    <div class="edit-controls">
        <form action="#/notifications" class="edit-notification-form">
            <input type="text" class="edit" value="<%- user %>"/>
            <button class="btn btn-primary save-notification-button" type="submit">Save</button>
            <button class="btn btn-default cancel-notification-button" type="button">Cancel</button>
        </form>
    </div>
</td>
<td>
    <button class="btn btn-danger delete-notification-button" type="button">Delete</button>
    <button class="btn btn-default edit-notification-button" type="button">Edit</button>
</td>
